fastapi
uvicorn[standard]
motor
pydantic[email]
pydantic-settings
pymongo
celery[redis]
requests
python-dotenv
langchain-groq
beautifulsoup4
langchain
slack_bolt==1.23.0
slack_sdk==3.35.0
openai
jira
PyGithub
GitPython
langchain-community